.App {
  text-align: center;
  background-image: url('./fish.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}
.ima-poet{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  text-align: center;
}

.App-intro {
  font-size: large;
}
